<html>
  <head>
    <title>Driver Drowsiness - Monitoring System</title>
    <link href="../static/style.css" rel="stylesheet" type="text/css">
  </head>
<body>
    <div align="center" class="hd">Driver Drowsiness - Monitoring System</div>
	<div align="center" class="sd">
	<a href="/admin">Home</a> |
	<a href="/add_new">New Driver</a> |
	<a href="/home">View Driver</a> |
	<a href="/logout">Logout</a>
	</div>
    <h2 align="center">Driver Information </h2>
    <div class="register">
			<h1>Register</h1>
			<!--<div class="links">
				<a href="{{ url_for('login') }}" class="active">Login</a>
				<a href="#">Register</a>
			</div>-->
			<form action="{{ url_for('add_new') }}" method="post">
				
				<input type="text" name="name" placeholder="Name" required>
				
				<input type="text" name="carno" placeholder="Car No." required>
				<input name="mobile" type="text" maxlength="10" placeholder="Mobile No." required>
				<input name="mobile2" type="text" maxlength="10" placeholder="Family Mobile No." required>
				<input type="email" name="email" placeholder="E-mail" required>
				<input type="text" name="address" placeholder="Address" required>
				<div class="msg">{{ msg }}</div>
				<input type="submit" value="Register">
			</form>
</div>
</body>
</html>
