<html>
  <head>
    <title>Driver Drowsiness - Monitoring System</title>
    <link href="../static/style.css" rel="stylesheet" type="text/css">
  </head>
<body>
    <div align="center" class="hd">Driver Drowsiness - Monitoring System</div>
	<div align="center" class="sd">
	<a href="/admin">Home</a> |
	<a href="/add_new">New Driver</a> |
	<a href="/home">View Driver</a> |
	<a href="/logout">Logout</a>
	</div>
	
	
    
    <p>&nbsp;</p>
    <h1 align="center">Welcome to Administrator </h1>
<h3 align="center">Driver Information </h3>
  <table width="829" border="1" align="center">
    <tr>
      <th>Car No.</th>
      <th>Name</th>
      <th>Mobile No. </th>
      <th>Family Mobile No. </th>
      <th>E-mail</th>
      <th>Address</th>
      <th>Action</th>
    </tr>
	
	{% for row in data %}
	
    <tr>
      <td>{{ row[0] }}</td>
	  <td>{{ row[1] }}</td>
	  <td>{{ row[2] }}</td>
	  <td>{{ row[3] }}</td>
	  <td>{{ row[4] }}</td>
	  <td>{{ row[5] }}</td>
      <td><a href="/view?carno={{ row[0] }}">View</a> | <a href="/home?act=del&carno={{ row[0] }}">Delete</a></td>
    </tr>
	 {% endfor %}
  </table>
  <p align="center">&nbsp;</p>
</body>
</html>
